.historyDiv {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20vw;
  display: flex;
   /* flex-direction: row;  */
  /* flex-wrap: wrap;  */
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* width: 60vw; */
  /* background-image: radial-gradient(circle, #fefeed, #f8f8f4); */
  /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 15);
  border: 2px solid rgb(247, 247, 249);
  border-radius: 15px; */
  
}

.item{
  margin: 5px ;
  background-image: radial-gradient(circle, #fefeed, #f8f8f4);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 15);
  border: 2px solid rgb(247, 247, 249);
  border-radius: 15px;
  padding-bottom: 10px;
}

.item p{
  margin: 5px;
}
.table {
 margin: 0 20px;
  border-collapse: collapse;
}
.table td {
  /* width: 300px; */
  border: 1px solid indigo;

  padding: 8px;
}

.small{
  width: 50px;
}
.big{
  width: 300px;
}
